<% if flash[:message] %>
  <h1 style="color:green;"><%= flash[:message] %></h1>
<% end %>
<% flash[:ep_num] = @episode.id %>

<div class= "text-center"> 
<h1> Episode Title: <%= @episode.episode_title %></h1>
<p>Podcast: <%= @episode.name %></p>
<p>Episode Number: <%= @episode.episode_number %></p>
<p>Release Date: <%= @episode.date %></p>
<p>Episode Description: <%= @episode.description %></p>
<p>Listen at: <%= link_to @episode.full_name, @episode.episode_url %></p>
</div>
<br><br>
 <h2 class = "text-center">Discussion Board</h2>
 
<div class = "border border-secondary border-dark rounded bg-secondary " >
 

        
 
  <div class= "p-1 text-center">
    <%= render @episode.comments %>
  </div>
    
  
  
  
<%= render "comments/form" %>


</div>

 <%# button_to "Comment", new_comment_path('episode_id' => '@episode.id'), method: :get%>

<%= button_to "Delete Episode", episode_path(@episode), method: :delete, data: {confirm: "Are you sure you want to delete this episode?"},class: "btn btn-dark mt-3" %>

